<a href="https://colab.research.google.com/github/abdurrrehmannn/AI_LAB/blob/main/LAB4%265.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ***1.Access List Items:***
Create a list of fruits.

Print the first and last items of the list.

In [ ]:

fruits = ['Apple', 'Banana', 'Mango', 'Peach', 'Guava']

#print(fruits[0])  # Access the first item
print(fruits[2])  # Access the last item

Mango

## ***2.Change List Items:
Create a list of colors.


Change the second item in the list to "blue"

In [ ]:
colours=['red','green','yellow','orange']
colours[1]='blue'
print(colours)

['red', 'blue', 'yellow', 'orange']

### **3.Add List Items:**
Create a list of numbers.


Add the number 10 at the end of the list.

In [ ]:

numbers = [1,2,3,4,5]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 5, 10]

### **4.Remove List Items:**
Create a list of animals.


Remove the third item from the list.

In [ ]:
animals = ['dog', 'cow', 'cat', 'giraffe', 'bear']
animals.pop(2)
print(animals)

['dog', 'cow', 'giraffe', 'bear']

### **5.Loop Lists:**

Create a list of cities.


Loop through the list and print each city.

In [ ]:


cities = ['London', 'Paris', 'New York', 'Tokyo', 'Sydney']

for city in cities:
  print(city)

London
Paris
New York
Tokyo
Sydney

### **6.List Comprehension:**

Create a list of numbers from 1 to 10.


Use list comprehension to create a new list containing the square of each number.

In [ ]:

# Create a list of numbers from 1 to 10.
numbers = list(range(1, 11))

# Use list comprehension to create a new list containing the square of each number.
squared_numbers = [number ** 2 for number in numbers]

# Print the new list.
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### **7.Sort Lists:**

Create a list of names.


Sort the list alphabetically.

In [ ]:

names = ['John', 'Mary', 'Bob', 'Alice', 'David']
names.sort()
print(names)

### **8.Copy Lists:**

Create a list of fruits.

Copy the list into a new list.

In [ ]:


fruits = ['Apple', 'Banana', 'Mango', 'Peach', 'Guava']

# Copy the list into a new list.
new_fruits = fruits.copy()

# Print the new list.
print(new_fruits)

['Apple', 'Banana', 'Mango', 'Peach', 'Guava']

#9.Join Lists:

Create two lists of numbers.


Join the two lists into a single list.

In [ ]:



list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]

joined_list = list1 + list2

print(joined_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#10.List Methods:
Create a list of fruits.
Use the append() method to add a new fruit to the list.
Use the pop() method to remove the last fruit from the list.

In [ ]:
fruits = ['apple','banana','gava','peach']
fruits.append('berry')
fruits.pop(3)
print(fruits)

['apple', 'banana', 'gava', 'berry']

#11.Combining Lists and List Comprehension:

Create two lists, one containing numbers from 1 to 5 and another containing numbers from 6 to 10.


Use list comprehension to create a new list that contains the sum of corresponding elements from the two lists.

In [ ]:


list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]

sum_list = [a + b for a, b in zip(list1, list2)]

print(sum_list)

[7, 9, 11, 13, 15]

#12.Filtering and Sorting:
Create a list of numbers.

Use list comprehension to create a new list containing only the even numbers from the original list.

Sort the new list in descending order.

In [ ]:


numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use list comprehension to create a new list containing only the even numbers from the original list.
even_numbers = [number for number in numbers if number % 2 == 0]

# Sort the new list in descending order.
even_numbers.sort(reverse=True)

# Print the new list.
print(even_numbers)